.left-side h1 small{ 
    color: #ffbb00;
} 
.left-side h1 small span{ 
    color: #ff3300;
} 
.left-side h1{ 
  color: #000; 
  margin-bottom: -20px;
} 
.left-side p{  
    
    color: #000;
    
} 
.hero-section{ 
    display: flex; 
    height: 90vh; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 100px;

} 
.animation{ 
    
    height: 450px; 
    width: 450px; 
    justify-content: space-between; 
    align-items: center; 
    overflow: hidden;
    /* border-radius: 10px;  */
    /* box-shadow: -16px 19px 0px 4px #efbd33; */
} 
.left-side button{ 
    background-color: #ffbb00; 
    border-radius: 4px; 
} 
.left-side button:hover{ 
    background-color: #000000; 
    color: #ffffff;
}