.header{ 
    background-color: #040e14; 
    padding: 0px 100px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 80px; 
}  
.navbar a{ 
    color: #ffffff; 
    text-decoration: none; 
    margin-right: 20px;  
    z-index: 2;
}
nav a:hover{
    color: #ffbb00; 

} 
@media only screen and (max-width: 600px) {
    nav a{
      display: none;
    } 
    .header img{
        margin: auto;
    }
  }