.shop{ 
    display: grid; 
    grid-template-columns: 4fr 1fr; 
    color: #000; 
} 
.products{
    display: grid; 
    grid-template-columns: repeat(3,1fr); 
    gap: 45px; 
    margin: 35px;
} 
.shoppingCart{ 
    background-color: #e0dede; 
    margin-top: 32px; 
    border-radius: 20px 0px 0px 20px; 
    height: 70vh; 
    /* box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;  */
             text-align: center; 
             position: sticky;
             top: 0;
} 
@media only screen and (max-width:600px) {
    .shop{ 
        display:inline-block; 
        
    } 
    .shoppingCart{ 
        width: 100%;
    } 
    .products{ 
        display: inline-block; 
        margin-bottom: 20px;
    }
}